{% extends 'base.html.twig' %}

{% block title %}
    Abeja
{% endblock %}

{% block body %}
    <h1>Hola Abejarrucos</h1>
    <h2>Hoy aprendemos</h2>
    <p>La programación con Symfony y con Twig!!</p>
    <span>Modelo, Vista, Controlador!!</span>
{% endblock %}
