{% extends 'base.html.twig' %}
{% block body %}
<form>
    <input type="text" name="place" title="Lugar de la competición"/>
    <input type="date" name="date" title="Fecha de la competición"/>
    <input type="text" name="place" title="Lugar de la competición"/>
    <input
</form>
    
{% endblock %}